<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://3Dmol.csb.pitt.edu/build/3Dmol-min.js"></script>
  <style>
    .mol-container {
      width:    75%;
      height:   400px;
      position: relative;
    }
    </style>
</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Haonan Yu <span style="white-space: nowrap;">于昊男</span>
              </h1>
              <p>
                I am a incoming PhD student at the <a href="https://mp.weixin.qq.com/s/msPInc6Wlu6436RMhdY9fw">Center of Clean and Low-carbon Energy</a>, part of the <a href="https://energy.csu.edu.cn/">School of Energy Science and Engineering</a> at <a href="https://en.csu.edu.cn/">Central South University, China</a>, where I work on Matter Modeling and Machine Learning for Catalysis. My PhD advisors are <a href="https://faculty.csu.edu.cn/sunzhiqiang/en/index.htm">Zhiqiang Sun</a> and <a href="https://faculty.csu.edu.cn/liuhanzi/en/index.htm">Hanzi Liu</a>.
              </p>
              <p>
                I have an MS in Computer Science (AI focus) from <a href="https://www.uow.edu.au">University of Wollongong</a> and a BS in Computer Science from <a href="https://www.hlju.edu.cn/">Heilongjiang University</a>.
              </p>
              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/GpgXfyYN"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/hn-yu">GitHub</a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/image_circular.png">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I'm interested in density functional theory, representation learning and optimization.
              </p>
            </td>
          </tr>
        </table>
        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table> -->
        <br>
        <br>
        <br>

        <div id="container-01" class="mol-container"></div>
        <script>
          $(function() {
            let element = $('#container-01');
            let config = { backgroundColor : 'white' };
            let viewer = $3Dmol.createViewer( element, config );
            viewer.addModel("3\n\nC 0 0 0\nO 1.16 0 0\nO -1.16 0 0", "xyz");
            viewer.addUnitCell();
            viewer.setStyle({}, {sphere : {}});
            viewer.zoomTo();
            viewer.render();
          });
          </script>
        <br>
        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

